# Files controleren

In [2]:
import os
from pathlib import Path
import time

import pandas as pd

In [77]:
pad = '..'

In [78]:
os.listdir(pad)

['uitwerkingen',
 '.DS_Store',
 '20251118_NU_ca-500.csv',
 '20251140_NU_ca-500 kopie.csv',
 '20251118_NN_ca-500 kopie.csv',
 'training',
 'opdrachten',
 'datasets',
 'presentatie',
 '.gitignore',
 '.gitattributes',
 '.ipynb_checkpoints',
 '.git',
 'demos']

In [79]:
list(os.scandir(pad))

[<DirEntry 'uitwerkingen'>,
 <DirEntry '.DS_Store'>,
 <DirEntry '20251118_NU_ca-500.csv'>,
 <DirEntry '20251140_NU_ca-500 kopie.csv'>,
 <DirEntry '20251118_NN_ca-500 kopie.csv'>,
 <DirEntry 'training'>,
 <DirEntry 'opdrachten'>,
 <DirEntry 'datasets'>,
 <DirEntry 'presentatie'>,
 <DirEntry '.gitignore'>,
 <DirEntry '.gitattributes'>,
 <DirEntry '.ipynb_checkpoints'>,
 <DirEntry '.git'>,
 <DirEntry 'demos'>]

In [80]:
os.walk(pad)

In [94]:
def get_all_files(pad):
    all_files = []
    for root, dirs, files in os.walk(pad, topdown=True, followlinks=False):
        dirs[:] = [d for d in dirs if not d.startswith(".")]
        files[:] = [f for f in files if not f.startswith(".")]
        files[:] = [f for f in files if not f.startswith("~")]
    
        # print(f"Directory path: {root}")
        # print(f"Directory Names: {dirs}")
        # print(f"Files Names: {files}")
        # print(80*'-')
    
        for file in files:
            path = '/'.join([root, file])
                            
            info = Path(path)
            user = info.owner()
            group = info.group()
            
            # Get file stats
            stat = os.stat(path)
            
            # File size in bytes
            size = stat.st_size
            
            # Owner UID
            uid = stat.st_uid
            
            # Creation time (platform dependent)
            ctime = stat.st_ctime  # On Unix: metadata change time, on Windows: creation time
            
            # Modification time
            mtime = stat.st_mtime
            
            # Convert timestamps to human-readable
            ctime_str = time.ctime(ctime)
            mtime_str = time.ctime(mtime)
    
            all_files.append({
                "File": file,
                "Directory": root,
                "Size": size,
                "Owner": uid,
                "User": user,
                "Group": group,
                "Created": ctime,
                "Modified": mtime,          
            })
            
            # print(f"File: {file}")
            # print(f"Directory: {root}")
            # print(f"Size: {size} bytes")
            # print(f"Owner: {uid}")
            # print(f"User: {user}")
            # print(f"Group: {group}")
            # print(f"Created: {ctime_str}")
            # print(f"Modified: {mtime_str}")
            # print(80 * '-')
    
    return all_files

In [95]:
all_files = get_all_files(pad)

In [96]:
df = pd.DataFrame(all_files)

In [97]:
df.to_excel('all_files.xlsx')

In [98]:
subset = ['Size']
duplicates = df.duplicated(subset=subset, keep=False)
df.loc[duplicates, 'duplicated'] = df[subset].apply(tuple, axis=1)

In [99]:
regex = r'(\d{8})_(\w{2})_.*'
df[['filename_dd', 'filename_classificatie']] = df['File'].str.extract(regex)

In [100]:
df

,File,Directory,Size,Owner,User,Group,Created,Modified,duplicated,filename_dd,filename_classificatie
0,20251118_NU_ca-500.csv,..,95476,501,peter,staff,1.763475e+09,1.733217e+09,"(95476,)",20251118,NU
1,20251140_NU_ca-500 kopie.csv,..,95476,501,peter,staff,1.763476e+09,1.733217e+09,"(95476,)",20251140,NU
2,20251118_NN_ca-500 kopie.csv,..,95476,501,peter,staff,1.763476e+09,1.733217e+09,"(95476,)",20251118,NN
3,Exercise 5 - World Development Indicators.ipynb,../uitwerkingen,411596,501,peter,staff,1.763290e+09,1.763129e+09,NaN,NaN,NaN
4,Exercise 7 - Pinguins dataset.ipynb,../uitwerkingen,1018416,501,peter,staff,1.763290e+09,1.763129e+09,NaN,NaN,NaN
5,Exercise 1 - Describe Numeric Data.ipynb,../uitwerkingen,115258,501,peter,staff,1.763383e+09,1.763383e+09,NaN,NaN,NaN
6,Exercise 2 - Linear Regression.ipynb,../uitwerkingen,116572,501,peter,staff,1.763455e+09,1.763455e+09,NaN,NaN,NaN
7,Exercise 6 - GeoPandas.ipynb,../uitwerkingen,665087,501,peter,staff,1.763290e+09,1.763117e+09,NaN,NaN,NaN
8,Exercise 3 - EDA mpg dataset.ipynb,../uitwerkingen,2270702,501,peter,staff,1.763290e+09,1.763119e+09,NaN,NaN,NaN
9,Exercise 4 - KNMI daggegevens.ipynb,../uitwerkingen,535297,501,peter,staff,1.763290e+09,1.763114e+09,NaN,NaN,NaN
10,all_files.xlsx,../training,8570,501,peter,staff,1.763496e+09,1.763496e+09,NaN,NaN,NaN
11,exercise 3 - pandas mpg dataset.ipynb,../training,1698025,501,peter,staff,1.763472e+09,1.763472e+09,NaN,NaN,NaN
12,files_controleren.ipynb,../training,65537,501,peter,staff,1.763500e+09,1.763500e+09,NaN,NaN,NaN
13,converted.xlsx,../training,95432,501,peter,staff,1.763459e+09,1.763459e+09,NaN,NaN,NaN
14,converted.html,../training,207829,501,peter,staff,1.763459e+09,1.763459e+09,NaN,NaN,NaN
15,exercise 2 - linear regression.ipynb,../training,20935,501,peter,staff,1.763451e+09,1.763389e+09,NaN,NaN,NaN
16,first.ipynb,../training,17823,501,peter,staff,1.763372e+09,1.763372e+09,NaN,NaN,NaN
17,files_controleren_met_pathlib.ipynb,../training,25539,501,peter,staff,1.763500e+09,1.763500e+09,NaN,NaN,NaN
18,exercise 1 - describe function.ipynb,../training,945640,501,peter,staff,1.763389e+09,1.763389e+09,NaN,NaN,NaN
19,demo_pandas.ipynb,../training,67843,501,peter,staff,1.763462e+09,1.763462e+09,NaN,NaN,NaN
20,demo_functions.ipynb,../training,6580,501,peter,staff,1.763374e+09,1.763373e+09,NaN,NaN,NaN
21,demo_numpy.ipynb,../training,93141,501,peter,staff,1.763383e+09,1.763383e+09,NaN,NaN,NaN
22,Opdrachten Python voor Data Science.docx,../opdrachten,163222,501,peter,staff,1.763290e+09,1.763132e+09,NaN,NaN,NaN
23,Opdrachten Python voor Data Science.pdf,../opdrachten,231021,501,peter,staff,1.763383e+09,1.763132e+09,NaN,NaN,NaN
24,mpg.csv,../datasets,21222,501,peter,staff,1.763290e+09,1.733217e+09,NaN,NaN,NaN
25,ca-500.xlsx,../datasets,94950,501,peter,staff,1.763457e+09,1.763457e+09,NaN,NaN,NaN
26,ca-500-utf8.csv,../datasets,86457,501,peter,staff,1.763457e+09,1.763457e+09,NaN,NaN,NaN
27,iris.csv,../datasets,3867,501,peter,staff,1.763290e+09,1.733217e+09,NaN,NaN,NaN
28,ca-500.csv,../datasets,95476,501,peter,staff,1.763457e+09,1.733217e+09,"(95476,)",NaN,NaN
29,penguins.csv,../datasets,19263,501,peter,staff,1.763290e+09,1.733217e+09,NaN,NaN,NaN
30,indicators.csv,../datasets/World Bank DataBank World Developm...,741927,501,peter,staff,1.763290e+09,1.761560e+09,NaN,NaN,NaN
31,indicators_selected.csv,../datasets/World Bank DataBank World Developm...,515891,501,peter,staff,1.763290e+09,1.763128e+09,NaN,NaN,NaN
32,metadata.csv,../datasets/World Bank DataBank World Developm...,759422,501,peter,staff,1.763290e+09,1.761560e+09,NaN,NaN,NaN
33,result.txt,../datasets/KNMI,16697,501,peter,staff,1.763290e+09,1.763069e+09,NaN,NaN,NaN
34,download_wijkbuurtkaart.py,../datasets/CBS Wijkbuurtkaart,1065,501,peter,staff,1.763298e+09,1.763298e+09,NaN,NaN,NaN
35,WijkBuurtkaart_2024_v1.zip,../datasets/CBS Wijkbuurtkaart,201761495,501,peter,staff,1.763292e+09,1.763292e+09,NaN,NaN,NaN
36,Python for Data Science.pdf,../presentatie,7284206,501,peter,staff,1.763290e+09,1.763129e+09,NaN,NaN,NaN
37,Python for Data Science.pptx,../presentatie,5164475,501,peter,staff,1.763476e+09,1.763476e+09,NaN,NaN,NaN
38,demo numpy.ipynb,../demos,71346,501,peter,staff,1.763290e+09,1.761560e+09,NaN,NaN,NaN
39,demo data preparation iris.ipynb,../demos,512002,501,peter,staff,1.763290e+09,1.761560e+09,NaN,NaN,NaN
40,recap python.ipynb,../demos,47870,501,peter,staff,1.763290e+09,1.763067e+09,NaN,NaN,NaN
41,demo seaborn.ipynb,../demos,3438,501,peter,staff,1.763290e+09,1.761560e+09,NaN,NaN,NaN
42,demo pandas ca-500.ipynb,../demos,4221734,501,peter,staff,1.763290e+09,1.761560e+09,NaN,NaN,NaN
43,demo geopandas.ipynb,../demos,384225,501,peter,staff,1.763290e+09,1.761560e+09,NaN,NaN,NaN
44,demo plotly and dash.ipynb,../demos,2430,501,peter,staff,1.763290e+09,1.761560e+09,NaN,NaN,NaN
45,demo classification iris.ipynb,../demos,796435,501,peter,staff,1.763290e+09,1.761560e+09,NaN,NaN,NaN
46,demo clustering.ipynb,../demos,32826,501,peter,staff,1.763290e+09,1.761560e+09,NaN,NaN,NaN
47,demo matplotlib plot types.ipynb,../demos,579369,501,peter,staff,1.763290e+09,1.761560e+09,NaN,NaN,NaN
48,demo pandas.ipynb,../demos,59303,501,peter,staff,1.763290e+09,1.761560e+09,NaN,NaN,NaN

In [89]:
df['filename_classificatie'].isin(['NU', 'NR', 'NS'])

0      True
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
Name: filename_classificatie, dtype: bool

In [90]:
pd.to_datetime(df['filename_dd'], format='%Y%m%d', errors='coerce').notna()

0      True
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
Name: filename_dd, dtype: bool

In [91]:
regex = r'(\d{8})_(\w{2})_.*'
df['Filename OK'] = df['File'].str.match(regex) & \
                    df['filename_classificatie'].isin(['NU', 'NR', 'NS']) & \
                    pd.to_datetime(df['filename_dd'], format='%Y%m%d', errors='coerce').notna()

In [92]:
df[['File', 'Filename OK']]

                                               File  Filename OK
0                            20251118_NU_ca-500.csv         True
1                      20251140_NU_ca-500 kopie.csv        False
2                      20251118_NN_ca-500 kopie.csv        False
3   Exercise 5 - World Development Indicators.ipynb        False
4               Exercise 7 - Pinguins dataset.ipynb        False
5          Exercise 1 - Describe Numeric Data.ipynb        False
6              Exercise 2 - Linear Regression.ipynb        False
7                      Exercise 6 - GeoPandas.ipynb        False
8                Exercise 3 - EDA mpg dataset.ipynb        False
9               Exercise 4 - KNMI daggegevens.ipynb        False
10                                   all_files.xlsx        False
11            exercise 3 - pandas mpg dataset.ipynb        False
12                          files_controleren.ipynb        False
13                                   converted.xlsx        False
14                                   converted.html        False
15             exercise 2 - linear regression.ipynb        False
16                                      first.ipynb        False
17             exercise 1 - describe function.ipynb        False
18                                demo_pandas.ipynb        False
19                             demo_functions.ipynb        False
20                                 demo_numpy.ipynb        False
21         Opdrachten Python voor Data Science.docx        False
22          Opdrachten Python voor Data Science.pdf        False
23                                          mpg.csv        False
24                                      ca-500.xlsx        False
25                                  ca-500-utf8.csv        False
26                                         iris.csv        False
27                                       ca-500.csv        False
28                                     penguins.csv        False
29                                   indicators.csv        False
30                          indicators_selected.csv        False
31                                     metadata.csv        False
32                                       result.txt        False
33                       download_wijkbuurtkaart.py        False
34                       WijkBuurtkaart_2024_v1.zip        False
35                      Python for Data Science.pdf        False
36                     Python for Data Science.pptx        False
37                                 demo numpy.ipynb        False
38                 demo data preparation iris.ipynb        False
39                               recap python.ipynb        False
40                               demo seaborn.ipynb        False
41                         demo pandas ca-500.ipynb        False
42                             demo geopandas.ipynb        False
43                       demo plotly and dash.ipynb        False
44                   demo classification iris.ipynb        False
45                            demo clustering.ipynb        False
46                 demo matplotlib plot types.ipynb        False
47                                demo pandas.ipynb        False

In [93]:
df[df['duplicated'].notna()]

,File,Directory,Size,Owner,User,Group,Created,Modified,duplicated,filename_dd,filename_classificatie,Filename OK
0,20251118_NU_ca-500.csv,..,95476,501,peter,staff,1.763475e+09,1.733217e+09,"(95476,)",20251118,NU,True
1,20251140_NU_ca-500 kopie.csv,..,95476,501,peter,staff,1.763476e+09,1.733217e+09,"(95476,)",20251140,NU,False
2,20251118_NN_ca-500 kopie.csv,..,95476,501,peter,staff,1.763476e+09,1.733217e+09,"(95476,)",20251118,NN,False
27,ca-500.csv,../datasets,95476,501,peter,staff,1.763457e+09,1.733217e+09,"(95476,)",NaN,NaN,False